<div class="container">
  <div class="row justify-content-center support-frame">
    <div class="col-lg-6 col-md-6">
      <div
        *ngIf="submitted && invalidLogin"
        class="alert alert-danger text-center"
      >
        <p *ngIf="invalidLogin">Invalid username and/or password.</p>
      </div>
      <h1 class="text-primary text-center">Login use your credential!</h1>
      <form class="mt-5" [formGroup]="signinForm" (ngSubmit)="signIn()">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            formControlName="email"
            id="email"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            (keyup)="onClear()"
            autofocus
          />
          <div
            *ngIf="
              signinForm.controls.email.dirty &&
              signinForm.controls.email.errors
            "
            class="alert alert-danger"
          >
            <p *ngIf="signinForm.controls.email.errors.required">
              Email Required
            </p>
            <p *ngIf="signinForm.controls.email.errors.pattern">
              Email pattern: abc@domain.com
            </p>
          </div>
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <a class="form-sublink" href="#">Forgot password?</a>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            id="password"
            (keyup)="onClear()"
            placeholder="Password"
          />
          <div
            *ngIf="
              signinForm.controls.password.dirty &&
              signinForm.controls.password.errors
            "
            class="alert alert-danger"
          >
            <p
              *ngIf="
                signinForm.controls.password.dirty &&
                signinForm.controls.password.errors.required
              "
            >
              Password Required
            </p>
            <p
              *ngIf="
                signinForm.controls.password.dirty &&
                signinForm.controls.password.errors.minlength
              "
            >
              Password should be at least 6 letters long
            </p>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-4">
          Sign In
        </button>
        <p class="small text-center text-gray-soft">
          Don't have an account yet?
          <a routerLink="/register" routerLinkActive="active">Register</a>
        </p>
      </form>
    </div>
  </div>
</div>
