.support-frame {
  min-height: 80vh;
  padding-top: 100px;

  .form-sublink {
    float: right;
    color: #838e95;
    font-size: 12px;
    margin-top: 0.3rem;
  }

  p {
    margin: 0px;
    padding: 0px;
  }
}
input.notvalid {
  border: 1px solid red;
}
.help-block.hint {
  color: red;
}
